[submodule "FlyPost_frontend"]
	path = FlyPost_frontend
	url = https://github.com/Fnaxgt/flypost_frontend.git
[submodule "FlyPost_mobile_"]
	path = FlyPost_mobile_
	url = https://github.com/Zhmykh/FlyPost_mobile.git
[submodule "FlyPost_backend"]
	path = FlyPost_backend
	url = https://github.com/sosiksaWteste/FlypostBack
